<div id="main" data-title="{{.info.HashId}}">
    <img src="{{.img}}" class="imageview imagesize mt">

    <table class="mt">
        <tbody>
            <tr>
                <th>URL</th>
                <td class="copy-text" title="点击复制">{{.img}}</td>
            </tr>
            <tr>
                <th>HTML</th>
                <td class="copy-text" title="点击复制">&lt;img src="{{.img}}"&gt;</td>
            </tr>
            <tr>
                <th>BBCode</th>
                <td class="copy-text" title="点击复制">[img]{{.img}}[/img]</td>
            </tr>
            <tr>
                <th>Markdown</th>
                <td class="copy-text" title="点击复制">![]({{.img}})</td>
            </tr>

            <tr>
                <th>时间</th>
                <td data-render-text="timestamp2str({{.info.UploadTime}})"></td>
            </tr>
            <tr>
                <th>大小</th>
                <td data-render-text="formatBytes({{.info.FileSize}})"></td>
            </tr>
        </tbody>
    </table>


</div>