<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.site_name}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
    <link rel="stylesheet" href="/static/common.css">
    <script src="/static/common.js"></script>
</head>

<body>
    <h1><a href="/">{{.site_name}}</a></h1>
    <div class="container">
        {{embed}}
    </div>
</body>

</html>