<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.site_name}}</title>
    <link rel="stylesheet" href="{{.cdn_prefix}}/milligram@1.4.1/dist/milligram.min.css">
    <link rel="stylesheet" href="/static/common.css">
    <script src="/static/common.js"></script>
</head>

<body>
    <h1><a href="/">{{.site_name}}</a></h1>
    {{embed}}
    <hr>
    <footer>Powered By <a href="https://github.com/zjyl1994/b2webp">B2WebP</a></footer>
</body>

</html>