<div id="main" x-data="data()" @keydown.window.ctrl.v="actionPaste" @keydown.window.enter="actionUpload"
    data-title="{{.site_name}}" data-navi="upload">

    <div class="mt">
        <svg x-show="!loading && !imageBuffer" width="600px" height="400px" class="imagesize"
            xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" style="fill:none;stroke: black;stroke-width: 2; stroke-dasharray: 5">
            </rect>
            <text x="50%" y="50%" font-size="1.5em" text-anchor="middle" dominant-baseline="middle">图片预览</text>
        </svg>
        <div x-show="loading" class="lds-facebook">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <img :src="readFileAsDataURL(imageBuffer)" x-show="imageBuffer" class="imagesize imageview border">
    </div>

    <div class="status-msg mt">
        <div x-show="!statusMsg">
            <span><kbd>Ctrl+V</kbd> 快速粘贴</span>
            <span><kbd>Enter</kbd> 快速上传</span>
        </div>
        <div x-text="statusMsg"></div>
    </div>

    <div class="mt">
        <input type="file" id="formFile" accept="image/jpeg,image/png,image/gif,image/webp" autocomplete="off"
            @change="fileInputChange">
        <button type="button" @click="actionUpload" :disabled="!imageBuffer">上传</button>
        <button type="button" @click="actionPaste" :disabled="!navigator.clipboard">粘贴</button>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.3/dist/cdn.min.js"
    integrity="sha256-yPqP9Fer3NIS83oH7y8pLJmQEd/6vKpXf7Hh4Adsplg=" crossorigin="anonymous" defer></script>
<script src="https://cdn.jsdelivr.net/npm/webp-converter-browser@1.0.4/dist/index.min.js"
    integrity="sha256-IT8niI4YP/XLmcASezo2vA7MC8KaAj7CxhZVeR6Wcx0=" crossorigin="anonymous"></script>
<script>
    function readFileAsDataURL(file) {
        if (!file) return '';
        return new Promise((resolve, reject) => {
            let fr = new FileReader();
            fr.onload = () => resolve(fr.result);
            fr.onerror = reject;
            fr.readAsDataURL(file);
        })
    }

    function data() {
        return {
            imageBuffer: null,
            statusMsg: '',
            loading: false,
            fileInputChange: function (event) {
                const file = event.target.files[0];
                if (file) this.setImageBuffer(file);
            },
            setImageBuffer: async function (file) {
                if (file) {
                    if (file.type == 'image/jpeg' || file.type == 'image/png') {
                        this.statusMsg = '转换为 WebP ...';
                        this.imageBuffer = null;
                        this.loading = true;
                        this.imageBuffer = await webpConverterBrowser.blobToWebP(file);
                        this.loading = false;
                        this.statusMsg = `就绪，${formatBytes(file.size)} => ${formatBytes(this.imageBuffer.size)}。`;
                    } else {
                        this.imageBuffer = file;
                        this.statusMsg = `就绪，${formatBytes(file.size)}。`;
                    }
                }
            },
            actionUpload: function () {
                if (!this.imageBuffer) return;
                const formData = new FormData();
                formData.append('image', this.imageBuffer);
                fetch('/upload', {
                    method: 'POST',
                    body: formData,
                }).then(response => response.json())
                    .then(data => window.location = data.info_page)
                    .catch(e => this.statusMsg = '错误：' + e.message);
            },
            actionPaste: async function () {
                if (!navigator.clipboard){
                    this.statusMsg = '错误：浏览器限制，无法粘贴。';
                    return;
                }
                try {
                    const clipboardItems = await navigator.clipboard.read();
                    for (const clipboardItem of clipboardItems) {
                        const imageTypes = clipboardItem.types.filter(type => type.startsWith('image/'))
                        for (const imageType of imageTypes) {
                            const blob = await clipboardItem.getType(imageType);
                            this.setImageBuffer(blob);
                        }
                    }
                } catch (err) {
                    this.statusMsg = '错误：' + err.message;
                }
            }
        }
    }
</script>