.imageview{
    max-width: 600px;
    max-height: 600px;
    border: solid 1px;
    box-shadow: 6px 6px 3px 0px #d1cfd1;
}
.copy-text{
    cursor: copy;
}
.status-msg{
    font-weight: bolder;
    font-family: monospace;
    font-size: 1.25em;
}
.mt{
    margin-top: 1em;
}